<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="icons/waterFall.png"/>
    <title>GasDel action</title>
    <meta charset="UTF8">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script>

    </script>
</head>
<body>
<div class="defaultBar">
    <div class="defaultLogo">GasDel</div>
    <div class="actionTab">
        <div class="actionTabText">What do you want to do?</div>
        <div class="btnMargin">
            <button class="customBtn buttonText" onclick='location.href="createOrder.html"'>Create order</button>
            <button class="customBtn buttonText">Track order</button>
            <button class="customBtn buttonText" onclick='location.href="clientsOrders.html"'>Check order</button>
        </div>
    </div>
</div>
</body>
</html>

