<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="icons/waterFall.png"/>
    <title>Clients orders</title>
    <meta charset="UTF8">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script>

    </script>
</head>
<body>
<div class="defaultBar">
    <div class="defaultLogo">GasDel</div>
    <div class="createOrderText">Clients orders</div>

    <div>
        <table border="2px black solid" class="tableForOrders tableMargin">
            <tr>
                <td>Order ID</td>
                <td>Recipient name</td>
                <td>Recipient surname</td>
                <td>Sending time</td>
                <td>Price</td>
                <td>Destination Point</td>
                <td>Current Location</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Eltay</td>
                <td>Igor</td>
                <td>26.08.2021</td>
                <td>40 BYN</td>
                <td>Minsk</td>
                <td>Minsk</td>
            </tr>

        </table>

    </div>
</div>
<div class="backToTheActionPageBtn">
    <button class="customBtn buttonText" onclick='location.href="actionPage.html"'>Back to the action page</button>
</div>
</body>
</html>

