<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form method="post">
        <input type="text" name="country" placeholder="Введите название страны"/>
        <input type="number" name="countryCoefficient" placeholder="Введите коэффициент страны"/>
        <input type="number" name="parcelSizeLimit" placeholder="Введите граничный размер для посылки"/>
        <button type="submit">Добавить</button>
    </form>
</div>
</body>
</html>