<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF8">
    <style> a {
        text-decoration: none;
    } </style>
    <title>GasDel general</title>
    <link href="/static/css/style.css" th:href="@{/static/css/style.css}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="icons/waterFall.png" th:href="@{static/icons/waterFall.png}"/>
</head>
<body>
<div class="defaultBar">
    <a href="homePage.html" class="defaultLogo">GasDel</a>

    <div class="processingPointOrderActionBar">
        <div class="actionTabText" style="margin-left: 80px">Order actions</div>
        <div class="btnMargin" style="margin-left: 151px">
            <button id="createOrderBtnId" class="me-btn buttonText create-order-btn">Create order</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/processingPointWorkerAction.js"></script>
</body>
</html>
