<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF8">
    <style> a {
        text-decoration: none;
    } </style>
    <title>GasDel general</title>
    <link href="/static/css/style.css" th:href="@{/static/css/style.css}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="icons/waterFall.png" th:href="@{static/icons/waterFall.png}"/>
</head>
<body>
<div class="defaultBar">
    <a href="homePage.html" class="defaultLogo">GasDel</a>

    <div class="blockForPersonalDataInput">
        <div class="personalDataInputText">Enter your personal data</div>
        <button style="margin: 200px" class="me-btn buttonText">Submit
            <script type="text/javascript" src="js/action.js"></script>
        </button>
    </div>

    <script type="text/javascript" src="/static/js/action.js" th:src="@{/static/js/action.js}"></script>
</div>
</body>
</html>

