.defaultBar {
    width: 1920px;
    height: 98px;

    background: #5176FA;

    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    display: inline-flex;
}

* {
    margin: 0;
    padding: 0;
}

.defaultLogo {
    width: 144px;
    height: 55px;

    font-family: Comic Neue, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 55px;

    color: #FFFFFF;
}

.navBarHomePage {
    width: 120px;
    height: 28.57px;

}

.navBarHomeArrowDown {
    width: 22px;
    height: 22.45px;

    color: white;
}

.actionTabText {
    width: 394px;
    height: 42px;
    display: flex;

    margin-top: 20px;
    margin-left: 20px;
    font-family: Calibri, serif;
}

.actionTab {
    width: 572px;
    height: 605px;

    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    display: flex;

    align-items: center;
    flex-direction: column;
    margin-left: 520px;
    margin-top: 200px;
    color: black;
}

.customBtn {
    width: 250px;
    height: 72px;

    background: #5176FA;
    border-radius: 10px;
}

.buttonText {
    color: white;
    font-family: Calibri, serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.btnMargin {
    margin-top: 100px;
}

.createOrderText {
    width: 405px;
    height: 81px;

    font-family: Calibri, serif;
    font-size: 50px;
    line-height: 59px;
    text-align: center;

    margin-top: 5%;
    color: #000000;
}

.createOrderBar {
    width: 572px;
    height: 920px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 200px;
    margin-left: 150px;

    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.inputField {
    width: 219px;
    height: 22px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    align: right;
}

.recipientInputFields {
    margin-top: 50px;
}

.createOrderTextField {
    width: 405px;
    height: 81px;

    font-family: Calibri, serif;
    line-height: 59px;
    text-align: center;
    color: #000000;
}

.navBarMargin {
    margin-top: 20px;
    margin-left: 300px;
}

.listMargin {
    align-self: flex-end;
}

.inputFieldAlign {

}

.tableMargin {
    margin-top: 200px;
}

.backToTheActionPageBtn {
    margin-top: 800px;
}

.topNav {
    overflow: hidden;
    margin-left: 200px;
}

.topNavA {
    float: left;
    text-align: center;
    height: 98px;
    background-color: #5176FA;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topNavA:hover {
    background-color: gray;
    color: black;
}

.topNavA.active {
    color: green;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}